body{
  background-color: #fce123;
}
.flex-main{
  display:flex;
  flex-direction: row;
}
.profile-card{
  width:25%;
  background-color: #ddd;
  padding:2%;
  margin:2%;
}
.content-card{
  width:75%;
  background-color: #ddd;
  padding:2%;
  margin:2%;
}
.profile-image{
  display:block;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
h2,h3,h4{
  text-align: center;
}
